.details--barchart{
  width: 90%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  #arrow {
    position: absolute;
    left: 15px;
    width: 15px !important;
  }
}
.barchart{
  margin-top: 40px;
}