@import "./colors.scss";
@import "./general.scss";


.bin-harvest{
  background: $dark-white;
  border-radius: 13px;
  width: 309px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  h4{
    margin: 0;
  }
}
.bin-details{
  width: 309px;
  height: 435px;
  background: $dark-white;
  border-radius: 11px;
}