@import './colors.scss';

.info--card {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 79px;
  background-color: $dark-white;
  margin: 20px 0px;
  border-radius: 13px;
  color: $grey;
  img {
    position: absolute;
    left: 15px;
    width: 30px;
  }
  .info {
    text-align: center;
    font-weight: bold;
  }
}