.mailbox--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .info--wrapper {
    width: 100%;
    max-width: 309px;
    >p {
      width: 100%;
      text-align-last: left;
      font-weight: bold;
    }
  }
}